body {
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to bottom left, #00ff9d, #00f7ff, #0026ff);
}

.container {
    max-width: 90%;
    height: auto;
    margin: 0 auto;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: 'Permanent Marker', cursive;
}

span {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 3px 3px 0 #000000,
    -3px -3px 0 #000000,
    0 3px 0 #000000,
    3px 0 0 #000000,
    0 -3px 0 #000000,
    -3px 0 0 #000000,
    3px -3px 0 #000000,
    -3px 3px 0 #000000,
    3px 3px 5px #000000;
}

hr {
    border: none;
    background-color: #475675;
    height: 1px;
    max-width: 80%;
    border-radius: 10px;
}

p {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 3px 3px 0 #000000,
    -3px -3px 0 #000000,
    0 3px 0 #000000,
    3px 0 0 #000000,
    0 -3px 0 #000000,
    -3px 0 0 #000000,
    3px -3px 0 #000000,
    -3px 3px 0 #000000,
    3px 3px 5px #000000;
}

form {
    max-width: 70%;
    margin: 0 auto;
}

.content {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #808080;
    border-style: outset;
    background-color: #d3d3d3;
}

.info {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.2rem;
    font-family: 'Permanent Marker', cursive;
}

#submit {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 30px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-image: linear-gradient(to top, #4c4e4e, #3a3b3b, #1e1e1f);
    border-color: transparent;
    color: #ffffff;
    font-weight: 550;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 1px 1px 0 #000000,
    -1px -1px 0 #000000,
    0 1px 0 #000000,
    1px 0 0 #000000,
    0 -1px 0 #000000,
    -1px 0 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
    1px 1px 5px #000000;
    border-style: outset;
}

#result {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.meme {
    position: relative;
    width: 100%;
    max-width: 300px;
    text-align: center;
    margin: 10px;
}

.text {
    position: absolute;
    left: 0;
    right: 0;
    margin: 15px 0;
    padding: 0 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 3px 3px 0 #000000,
    -3px -3px 0 #000000,
    0 3px 0 #000000,
    3px 0 0 #000000,
    0 -3px 0 #000000,
    -3px 0 0 #000000,
    3px -3px 0 #000000,
    -3px 3px 0 #000000,
    3px 3px 5px #000000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top {
    top: 10px;
}

.bottom {
    bottom: 10px;
}

.meme-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    border-style: outset;
}

button::before{
    font-family: "Font Awesome 5 Free";
    content: "\f2ed";
}

button {
    position: absolute;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-align: center;
    top: 8px;
    right: 0;
    opacity: 0;
    transition: opacity 1s;
    font-size: 2rem;
    color: #000000b3;
    visibility: hidden;
}

.meme:hover button {
    visibility: visible;
    opacity: 1;
}

